.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    width: calc(100% - 80px);
}
.heading-container{
padding-bottom: 50px;
}
.heading{
    font-size: 20px;
    font-weight: 600;
}