.header-container{
    width:100%;
    display: flex;
    padding:16px 16px;
    background-color: #3e1c96;
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}
.header-container h2{
    color:#fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}