 .table-wrapper {
    background: white;
    border-radius: 8px;
    position: relative; 
   
  }
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
     border:1px solid #DDD;
  }
  .custom-table th, .custom-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb;
  }
  .custom-table th {
    background: #f9fafb;
    font-weight: 600;
    color: #374151;
  }
  .custom-table th.sortable {
    cursor: pointer;
  }
  .custom-table th.sortable:hover {
    background: #f3f4f6;
  }
  .parent-row:hover {
    background: #f9fafb;
  }
  .sort-arrow {
    font-size: 11px;
    margin-left: 4px;
  }
  .child-row td {
    background: #fff;
    padding: 16px;
    color: #475569;
  }
  .child-indent:nth-child(2){
    background-color: #DDD;
  }